{% extends 'base.html' %}

{% block head %}
<title>Results</title>
{% endblock %}

{% block body %}
Fav Icon
<a href="https://www.flaticon.com/free-icons/stethoscope" title="stethoscope icons">Stethoscope icons created by Iconic Panda - Flaticon</a> <br/>

Female
<a href="https://www.flaticon.com/free-icons/doctor" title="doctor icons">Doctor icons created by Freepik - Flaticon</a><br/>

Male
<a href="https://www.flaticon.com/free-icons/doctor" title="doctor icons">Doctor icons created by AmethystDesign - Flaticon</a><br/>

Male2
<a href="https://www.flaticon.com/free-icons/physician" title="physician icons">Physician icons created by DinosoftLabs - Flaticon</a><br/>

Female2
<a href="https://www.flaticon.com/free-icons/doctor" title="doctor icons">Doctor icons created by DinosoftLabs - Flaticon</a><br/>
{% endblock %}